.txt3{
 font-size: 24px;
 line-height: 124%;
 /* or 30px */
 text-align: center;
 font-weight: 600;

 color: #AA0101;
}

.txt4 {
  font-weight: 300;
  font-size: 24px;
 font-weight: 400;
  line-height: 124%;
  /* or 50px */
 
  text-align: center;
 
  color: #272727;
}

.Svgimg {
height: 60px;
}