.cardStyle{
    background-color: #195f22f1;
    height: max-content;
    width: 100%;
}
.alighnment{
    height: 36vh;
}
.imgStyle{
    /* bottom: 60px; */
    top: -50px;
box-shadow: rgba(255, 255, 255, 0.419) 0px 7px 29px 0px;
    height: 60px !important;
    width: 60px !important;
    background-color: white;
}
.transitionEffect:hover{
    transform: scale(110%);
    transition: 0.10s;
}
