.cardStyle{
    background-color: #195f22f1;
    height: max-content;
    width: 100%;
}
.alighnment{
    height: 36vh;
}
.imgStyle{
    /* bottom: 60px; */
    top: -50px;
}
.transitionEffect:hover{
    transform: scale(110%);
    transition: 0.10s;
}
