.cardStyle{
    background-color: #195f22f1;
    height: max-content;
    width: 100%;
}
.alighnment{
    height: 36vh;
}
.imgStyle{
    /* bottom: 60px; */
    height: 55px !important;
    width: 55px !important;
    background-color: white;
}
.newOrder{
    top: -44px;
  background-color: rgba(255, 255, 255, 0.349);
    height: 70px !important;
        width: 70px !important;
}
.transitionEffect:hover{
    transform: scale(103%);
    transition: 0.10s;
}
