.bgColorStyle {
    background: url("../../assets/Images/HomeWithPeople.png");

    background-size: cover;
    height: 110vh;
    background-repeat: no-repeat;
    background-position: 100% 100% ;
    /* background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; */
}
.bg-color{
background: rgba(67, 148, 91, 0.88);
    border-radius: 11px;
    /* opacity: 0.8; */
    color:white;
    margin-top: 100px;
}
input{
    opacity: 2;
}
.navbar{
    background-image: linear-gradient(white,white,rgba(255, 255, 255, 0.221));
}
.ActiveEffect:active{
transform: scale(95%);
}
@media screen and (max-width:1100px) {
    .bg-color{
        margin-top: 70px;
    }
}
@media screen and (max-width:767px) {
    .bg-color{
        margin-top: 50px;
    }
}