.bgColorStyle {
    background: url("../../assets/Images/HomeWithPeople.png");
    background-size: cover;
    height: 110vh;
    background-repeat: no-repeat;
    background-position: 100% 100% ;
}
.formstyle{
    width: 511px;
}

.scopeText{
    font-size: 58px;
    background: -webkit-linear-gradient(#25823F, #78DC96);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.bg-color{
background: rgba(67, 148, 91, 0.88);
    border-radius: 11px;
    /* opacity: 0.8; */
    color:white;
    margin-top: 100px;
}
input{
    opacity: 2;
}
.navbar{
    background-image: linear-gradient(white,white,rgba(255, 255, 255, 0.221));
}
.ActiveEffect:active{
transform: scale(96%);
}

@media screen and (max-width:2500px) {
    .bgColorStyle{
    height: 80vh;
    }
    .scopetext{
    font-size: 102px !important;
    }
}
@media screen and (max-width:1400px) {
    .bgColorStyle{
    height: 110vh;
    }
    .scopetext{
        font-size: 42px !important;
    }
    .formstyle {
        width: 311px;
    }
}
@media screen and (max-width:1100px) {
    .bg-color{
        margin-top: 50px;
    }
}
@media screen and (max-width:767px) {
    .bg-color{
        margin-top: 20px;
    }
    .num-text{
    font-size: 15px !important;
    }
    .book-btn{
        font-size: 12px !important;
    }
    .width-100{
        width: 100%;
    }
    .bgColorStyle {
        background: url("../../assets/Images/HomeWithPeople.png");
        background-size: cover;
        height: 92vh;
        background-repeat: no-repeat;
        background-position-x: 50% center ;
        background-position-y: 50% center ;
    }
    .scopeText{
        font-size: 30px;
        text-align: center;
        background: -webkit-linear-gradient(#25823F, #78DC96);
        background-clip: text;
        font-weight: bold;
        -webkit-text-fill-color: transparent;
    }
    .center-form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .magnify-text{
        text-align: center;
    }
}