.txt1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 54px;
    text-transform: uppercase;  
    color: #AA0101;
}

.txt2 {
  /* position: absolute; */
    width: 751px;
    height: 513px;
    left: 675px;
    top: 100px;
  
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 144%;
    /* or 35px */
  
  
    color: #404040;
}

.ImgSize1 {
  height: 650px;
}