.background {
    background: url("../assets/Images/HomeWithPeople.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-color{
    background-color: #498c55;
    opacity: 0.8;
}
input{
    opacity: 2;
}