.images{
    width:100%;
}
.sideimage1{
    background-image: url("../assets/Images/servicesPics/Rectangle\ 53.png");
    background-position: center;
    background-size: cover;
}

.sideimage2{
    background-image: url("../assets/Images/servicesPics/Rectangle\ 49.png");
    background-position: center;
    background-size: cover;
}

@media screen and (max-width:991px){
    .sideimage2{
        height:"500px";
        width:"100%";
    }
}
@media screen and (max-width:491px){
    .iconname{
        font-size: 12px;
    }
}

.imageresponsive{
    height: 530px;
}
.imageresponsive2{
    height: 530px;
    width: 400px;
}
@media screen and (max-width:600px) {
    .imageresponsive{
height: 360px ;
margin-top: 27px;
    }   
    .imageresponsive2{
        height: 360px ;
        margin-top: 27px;
            } 
}

