.footer{
    background-image: url("../../assets/Images/Footer/Group\ 57.png");
    height: 460px;
    background-position-x:center 100%;
        background-position-y:center 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-repeat: no-repeat; */
}
.IconBackground:hover .IconHover{
color: #1091f3;
}
.IconBackground:hover .InstaIcon {
    color: #f60089;
}

.IconBackground:hover{
    background-color: gainsboro !important;
}
@media screen and (max-width:991px) {
    .footer{
        height: max-content;
        background-color: #42925A;  
        background-image: none;
    }
}