.txtSzng{
 color: #AA0101;
 font-style: normal;
  font-weight: 450;
  font-size: 20px;
  line-height: 48px;
 
  letter-spacing: 0.085em;
  text-transform: uppercase;
}

.txtSzng1{
 font-family: 'Franklin Gothic Medium';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  /* or 100% */
 
  text-transform: uppercase;
 
  color: #16110D;
}

.bg-color2 {
  background: #F3EFDF;
  padding-top: 30px;
  padding-bottom: 90px;
}
.starIconStyle{
  color: rgba(255, 166, 0, 0.938);
  margin-top: -31px;
  height: 7px !important;
  width: auto !important;
}
.reviewsStyle{
  margin-top: -10px;
  font-size: x-small;
  font-weight: 700;
}
.formQuotePosition{
  height: 55px !important;
  width: 55px !important;
  /* left: 120px; */
  top: -45px;
  /* padding: 13px; */

  background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width:769px) {
  .txtSzng1{
    font-size: 24px;
  }
}